body {
	background-color: #AAA;
}

header, .dropdown {
	margin: 1% 1%;`
}

.productCard {
	min-height: 250px;
	min-width: 250px;
	border: 1px solid black;
	color: white;
}

.productCard h4 {
	text-decoration: underline;
}

.productCard.card-bad {
	background-color: #AA5239;
}

.productCard.card-good {
	background-color: #28546C;
}
.dropdown-menu {
    left: 50% !important;
    margin-left: -80px;
}